h1,
p {
  text-align: center;
}

body {
  height: 100vh; /* Use the full height of the viewport */
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#note {
  border: solid black;
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

#top-border {
  border-bottom: solid;
  height: 30px;
}

#note-text {
  display: block;
  width: 395px;
  height: 265px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
  font-size: 16px;
  outline: none; /* disable blue selection border */
}

#note,
#top-border,
#note-text {
  background-color: #eff9c3;
}

#note-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.note-button {
  padding: 5px;
  margin: 5px;
}

#counter {
  justify-content: flex-end;
}
